<div class="main-content" style="min-height: 459px">
	<div class="page-header">
	<div id="tweet-box">
<h2>Sign in</h2>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div >
    <%= f.submit "Sign in", :class => 'button' %>
  </div>
<% end %>
</div>
</div>
</div>
<div id="left-pane" class="dashboard">
<h2>New user?</h2>
<%= link_to "Sign up now!", signup_path, :class =>'signup_button round' %>
</div>