<div class="whole-page-wrapper">
	<%= render 'my_profile_menu' %>
	
	<% form_for @user,  :url=>{:controller=> "users", :action=>"update_profile"}, :method => :put do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
	  <%= f.label :first_name %><br />
	   <%= @user.first_name %>
	</div>
	<div class="field">
	  <%= f.label :last_name %><br />
	   <%= @user.last_name %>
	</div>

	<div class="field">
	  <%= f.label :email %><br />
	  <%= @user.email %>
	</div>
	<div class="field">
	  <%= f.label :display_name %><br />
	  <%= f.text_field :display_name %>
	</div>
	<div class="field">
	  <%= f.label :password %><br />
	  <%= f.password_field :password %>
	</div>
	<div class="field">
	  <%= f.label :password_confirmation, "Confirmation" %><br />
	  <%= f.password_field :password_confirmation %>
	</div>
	 
	<div class="actions">
	    <%= f.submit "Update", :class =>"tweet-button button" %>
	  </div>
	<% end %>
	
</div>