<div class="main-content" style="min-height: 459px">
	<div class="page-header">
		<div id="tweet-box">
			<h2>
				My Tweets
			</h2>
		</div>
	</div>
	<div class="stream-manager">
	  <div class="stream-container">
		<% unless @user.microposts.empty? %>
	      <%= render :template => 'microposts/index' %>
	    <% end %>
		 </div>
		</div>

	</div>
<div id="left-pane" class="dashboard">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.first_name %> <%= @user.last_name %>
      </h2>
    
      <strong>Name</strong>  <%= @user.first_name %> <%= @user.last_name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong>  <%= @user.microposts.count %>
    </div>
