<div class="stream-item">
  <div class="micropost">
    <div>
		<span class="tweeted-on">Tweeted <%= time_ago_in_words(feed_item.created_at) %> ago</span>
		<span class="tweeted-as"><%= feed_item.turing_user.name %></span>
	</div>
	<div class="tweeted-content"><%= wrap(feed_item.content) %></div>
   	<div style="padding-top:10px;color: #999999; font-size: 11px;line-height: 15px;">
		
		
		<div style="padding-top:0px;color: #999999; font-size: 11px;line-height: 15px;">
			<a onclick="$('#votes-for-<%=feed_item.id%>').toggle(); $('#reply-for-<%=feed_item.id%>').hide();">Vote on Tweet</a> 
			or 
			<% if !feed_item.in_conversation?(current_user.id) %>
			<a onclick="$('#reply-for-<%=feed_item.id%>').toggle(); $('#votes-for-<%=feed_item.id%>').hide();">Start a Conversation</a>
			<% else %>
				<a onclick="$('#reply-for-<%=feed_item.id%>').toggle(); $('#votes-for-<%=feed_item.id%>').hide();">
					<% if feed_item.last_to_reply(current_user.id) == current_user.id %>
					View Conversation
					<% else %>
					Reply to Conversation
					<% end %>
					</a>
			<% end %>
			
			 
		</div>
		<div id="votes-for-<%=feed_item.id%>" style="display:none; padding:10px 0px 10px 0px">
			<span style="float:left">Vote on tweet:</span>
			<% @turing_users.each do |tu| %>
				<%= button_to tu.name, { :controller => "votes", :action => "create", :vote => { :user_id => current_user.id, :micropost_id => feed_item.id, :vote => tu.id }} ,:form_class => "button_to_link_form", :class=>'button_to_link',:method => :post  %>
			<% end %>
		</div>
		<div id="reply-for-<%=feed_item.id%>" style="display:none; padding:10px 0px 10px 0px">
			<div>
					<% feed_item.conversation_thread(current_user.id).each do |i| %>
						<div><%= i.content %></div>
					<% end %>
			</div>
			
			
			<% if !feed_item.last_to_reply(current_user.id) == current_user.id %>
			<div id="tweet-box">
			<div class="text-area">
			   <%= form_for conversation, :url => {:controller => "conversations" , :action => "create"} do |f| %> 
				<%= f.hidden_field :micropost_id,  :value => feed_item.id %>
				<%= f.hidden_field :user_id,  :value => current_user.id %>
			
			 <%= f.text_area :content, :class => 'tweet-editor' , :id => "conversation_content_#{feed_item.id}"%>
			 	<script type="text/javascript">
				   $('#conversation_content_<%= feed_item.id %>').limit('140','#charsLeft_<%= feed_item.id %>');
				</script>
				
				  

				
				<div class="tweet-button-container">
				<span id="charsLeft_<%= feed_item.id %>" class="charsLeft"></span>	<%= f.submit "Reply", :class => 'button' %>
				</div>
				<script type="text/javascript">
				    var val = $('#conversation_content_<%= feed_item.id %>').val();
					var length = val.length;
					length = 140 - length;
					$('#charsLeft_<%= feed_item.id %>').text(length);
				</script>
				</div>
				</div>
				<% end %>
				<% end %>
				
		</div>
	</div>
  </div>
</div>
