<div class="stream-item">
  <div class="micropost">
    <div>
		<div style="float:left;margin-right:13px"><%=image_tag "tweet_icon.png", :style=>"height:40px; width:54px; position:relative; top:-4px" %></div>
	
	<div>
		<span class="tweeted-on">Tweeted <%= time_ago_in_words(feed_item.created_at) %> ago</span>
		<span class="tweeted-as"><%= feed_item.turing_user.name %></span>
	</div>
	<div class="tweeted-content"><%= wrap(feed_item.content) %></div>
	<% if current_user.turing_user_id == 2 && feed_item.user.turing_user_id == 1 %>
		<div style="color: #999999; font-size: 11px;line-height: 15px;padding:10px 0px 10px 0px">
			<span style="float:right">	
			<%= button_to "Flag as Inappropriate", { :controller => "microposts", :action => "flag", :micropost => {:micropost_id => feed_item.id,}} ,:form_class => "button_to_link_form", :class=>'button_to_link',:method => :post  %>
			</span>
		</div>
	<% end %>

  </div>
</div>
</div>
