<div class="whole-page-wrapper">
	<%= render 'shared/score_menu' %>
		<div class="whole-page left-section" style="background-color:#fff">
		
	
		<div id="pie-vote-fake"		style="width:225px; height:225px;"></div>
			</div>
			<div class="whole-page middle-section">
				<h3>Ranking in <%= current_user.school.name%></h3>
				<% @school_leaderboard.each do |user| %>
					<div>
						<span style="float:right"><%= user.position_in_school_my_votes_fake %> (<%= user.score_my_vote_fake %>)</span>
						<%= user.name %>
					</div>
				<% end %>
				<hr />
				<h3>Ranking on Twittest</h3>
				
			</div>
		<div class="whole-page right-section">
			<h3>This Section</h3>
			<p>
				This chart show your progress on correctly identifying when someone is tweeting as another person.
			</p>

			<hr>
			<h3>Tips</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida mi eget est 
				vestibulum hendrerit. Quisque tempor dolor eget quam volutpat venenatis. Vestibulum 
				ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cum sociis 
				natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			</p>
		</div>
	</div>